<div class="appointment-container">

    <!-- Sidebar -->
    <aside class="sidebar">

        <div class="logo">
            <h2>MED.CO</h2>
        </div>

        <button class="dashboard-btn">
            Dashboard
        </button>

        <h3>Management</h3>

<ul class="menu">
  <li>
    <a routerLink="/patient" class="menu-link">
      Patient Register
    </a>
  </li>

  <li>
    <a routerLink="/doctor" class="menu-link">
      Doctor Management
    </a>
  </li>

  <li class="active">
    <a routerLink="/appointment" class="menu-link">
      Appointment Booking
    </a>
  </li>
</ul>

<h3>Settings</h3>

<ul class="menu">
  <li><a class="menu-link">Users</a></li>
  <li><a class="menu-link">System Settings</a></li>
  <li><a class="menu-link">Profile</a></li>
  <li><a class="menu-link">Logout</a></li>
</ul>
    </aside>

    <!-- Main Content -->

    <div class="content">

        <!-- Header -->

        <div class="header">

            <h2>Appointment Booking</h2>

        </div>

        <!-- Appointment Steps -->

        <div class="appointment-grid">

            <!-- Department -->

            <div class="card">

    <h3>Select Department</h3>


    <select
    [(ngModel)]="selectedDepartmentId"
    (change)="loadDoctors()">

        <option [ngValue]="null">Select Department</option>

        <option
            *ngFor="let dept of departments"
            [ngValue]="dept.departmentId">

            {{ dept.departmentName }}

        </option>

    </select>

</div>

            <!-- Doctor -->

       <!-- Doctor -->

<div class="card">

    <h3>Choose Doctor</h3>

    <div class="doctor-list">

        <div
            *ngFor="let doctor of doctors"
            class="doctor-item"
            (click)="selectDoctor(doctor.id)">

            <h4>
                Dr. {{ doctor.firstName }} {{ doctor.lastName }}
            </h4>

            <p>{{ doctor.specialization }}</p>

            <p>{{ doctor.experience }} Years Experience</p>

        </div>

    </div>

</div>

            <!-- Date -->
<div class="card">

    <h3>Select Date</h3>

    <div
        class="doctor-item"
        *ngFor="let item of availability"
        (click)="selectDate(item)">

        {{ item.availableDate }}

    </div>

</div>



<!-- time -->
<div class="card">

    <h3>Select Time</h3>

    <div class="time-grid">

       <button
    *ngFor="let time of timeSlots"
    (click)="selectTime(time)"
    [class.selected]="selectedTime === time">

    {{ time }}

</button>
    </div>

</div>









            <!-- Patient Details -->

            <div class="card patient-card">

                <h3>Patient Details</h3>

                <label>MRN Number</label>

                <div class="search-box">

                    <input
    type="text"
    [(ngModel)]="mrnNo"
    placeholder="Enter MRN Number">

<button (click)="searchPatient()">
    Search
</button>
                </div>

                <label>Patient Name</label>

               <input
    type="text"
    [(ngModel)]="patientName"
    readonly>
                <label>Age</label>

                <input
    type="number"
    [(ngModel)]="age"
    readonly>

                <label>Gender</label>

                <input
    type="text"
    [(ngModel)]="gender"
    readonly>
                <label>Mobile Number</label>

               <input
    type="text"
    [(ngModel)]="mobileNumber"
    readonly>

                <label>Email</label>

              <input
    type="email"
    [(ngModel)]="email">
                <label>Address</label>

                <textarea
    rows="3"
    [(ngModel)]="address"
    readonly>
</textarea>

<label>Reason</label>

<textarea
    rows="3"
    [(ngModel)]="reason"
    placeholder="Enter appointment reason">
</textarea>

<button
    class="book-btn"
    (click)="bookAppointment()"
    [disabled]="
        !patientId ||
        !selectedDoctorId ||
        !selectedDate ||
        !selectedTime ||
        !reason">

    Book Appointment

</button>
            </div>

        </div>

    </div>

</div>
