*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body,
.page{
    background:#f4f9fd;
    min-height:100vh;
    padding-top: 80px;
}

/* Navbar */

.navbar{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#f7f9fc;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.logo{

    display:flex;
    align-items:center;
    gap:10px;
    font-size:20px;
}
.logo-text{

    font-size:28px;
    font-weight:800;
    color:#1a2b63;
    font-size: 28px;
}
.logo-subtext{

    font-size:13px;
    font-weight:400;
    color:#3fbfb0;
    font-weight:600;
    margin-top:-2px;
    margin-left:-20px;
}

.logo img{

    width:75px;
}

.logo h2{

    color:#0f6d8a;
}

.logo small{

    color:#0f6d8a;
}

nav{

    display:flex;
    align-items:center;
    gap:35px;
    
}

nav a{

    text-decoration:none;
    color:#32556b;
    cursor:pointer;
    font-size:20px;
    font-weight:600;

}
.nav-right{
    display:flex;
    align-items:center;
    gap:30px;
}

nav button{

    background:#0f9fe5;
    color:white;
    border:none;
    padding:8px 22px;
    border-radius:5px;
    cursor:pointer;
}
.login-btn-nav {
  background: #4a90c4;
  color: #fff;
  border: none;
  padding: 10px 26px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

/* Card */

.card{

    width:450px;
    height: 580px;;
    margin:40px auto;
    background:#ebebeb;
    border:2px solid gray;
    border-radius:28px;
    padding:40px;
    box-shadow: 0 10px 30px #f9f4fd;
    margin-top: 70px;
}

.title{

    display:flex;
    align-items:center;
    gap:80px;

    border-bottom:1px solid #ddd;
    padding-bottom:15px;
    margin-bottom:20px;
    
}
.title-text{

    font-size:28px;
    font-weight:600;
    color:#007396;
    text-align:center;
}
label{

    display:block;
    margin-top:15px;
    font-size:20px;
}

label span{

    color:red;
}

input[type=text]{

    width:100%;
    height:50px;
    margin-top:10px;

    border:1px solid gray;
    border-radius:10px;

    padding-left:15px;
    font-size:18px;
}

.otp-box{

    display:flex;
    gap:10px;
    margin-top:15px;
    width:500px;
}

.otp-box input{

    width:45px;
    height:45px;

    text-align:center;

    border-radius:5px;
    border:1px solid gray;
    font-size:20px;
}

.otp-btn{

    width:100%;
    height:50px;

    margin-top:35px;

    background:white;
    color:blue;

    border:2px solid blue;
    border-radius:10px;

    font-size:22px;
    font-weight:700;
    cursor:pointer;
}

p{

    text-align:center;
    margin-top:40px;
    font-size:19px;
}

p a{

    color:blue;
    cursor:pointer;
}

footer {
    background: #0c6d94;
    color: white;
    text-align: center;
    padding: 8px 0;      
    font-size: 12px;     
    line-height: 1;
    width: 100%;
    position: fixed;    
    bottom: 0;
    left: 0;
}